// @use "../globals" as *;

$cBlack: #333333;

#container{
    position: relative;

    & .menu__cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $cBlack;
        z-index: 10;
        // opacity: 0;
        visibility: hidden;

    }

    &.menu-open{
        & .menu__cover{
            background-color: $cBlack;
            visibility: visible;

          }
    }


}

header{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .menu__btn{
        width: 30px;
        height: 30px;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        z-index: 20;
        
        & > span{
            display: block;
            width: 30px;
            height: 2px;
            background-color: $cBlack;
            &:first-child{
                margin-top: 9px;
                margin-bottom: 8px;
            }
            &:last-child{
                margin-bottom: 9px;
            }
        }


        
    }
}