@use "../globals/variables" as *;
@use "../parts/common" as *;

.header{
    max-width: $contentMaxWidth;
    margin: 0 auto;
    height: 80px;
    padding: 0 40px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    left: 0;
    right: 0;
    align-items: center;
    background-color: $cWhite;
    z-index: 50;

    & h1 a img{
        width: 180px;
    }
    &__nav {
        z-index: 10;  
        position: fixed;
        top: 0;
        left: -200px;
        padding: 36px 50px;
    }

    &__ul{
        list-style: none;
        padding-left: 0;
    }

    &__li{
        margin-bottom: 14px;

        & a{
            text-decoration: none;
            color: $cWhite;
        }
    }

    & .menu__btn{
        width: 30px;
        height: 30px;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        z-index: 20;
        
        & > span{
            display: block;
            width: 30px;
            height: 2px;
            background-color: $cBlack;
            &:first-child{
                margin-top: 9px;
                margin-bottom: 4px;
            }
            &:last-child{
                margin-top: 4px;
                margin-bottom: 9px;
            }
        }


        
    }
    & div{
        display: none;
    }
}

.content{
    max-width: $contentMaxWidth;
    margin: 0 auto;
    padding: 80px 40px 120px 40px;
    
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        & li{
            width: 47%;
            margin-bottom: 40px;

            @media screen and (min-width: $breakpoints){
                width: 23%;
            }

            & a{
                text-decoration: none;
                color: $cBlack;
                @extend .font-sm;

                & .item{
                    margin-top: 10px;
                }

            }
    
        }
    }

    .btn{
        display: block;
        text-align: center;
        text-decoration: none;
        color: $cBlack;
        z-index: 10;
        @extend .font-md;
    }


}

.footer{
    max-width: $contentMaxWidth;
    margin: 0 auto;
    padding: 0 40px 20px 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    @media screen and (min-width: $breakpoints){
        flex-direction: row;
        justify-content: space-between;
    }




    & ul{
        list-style: none;
        padding-left: 0;

        & li{
            display: inline-block;
            margin-right: 30px;

            & a{
                text-decoration: none;
                color: $cBlack;
                @extend .font-sm;
            }
        }
    }

    & p{
        color: $cBlack;
        @extend .font-xs;
    }
}
